* {
  margin: 0;
  padding: 0;
}

/*define variables*/

:root {
  --primaryColor: #00000080;
  --secondaryColor: #00000026;
}

.container {
  height: 100vh;
  width: 100%;
  background: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

#clockContainer {
  width: 280px;
  height: 280px;
  background: rgb(0, 89, 119);
  border: 18px solid rgb(13, 77, 99);
  border-radius: 50%;
  margin: 200px auto;
  position: relative;
  box-shadow: inset 0 5 px 25px var(--primaryColor),
    0 5 px 25px var(--primaryColor), 0 5 px 30px var(--primaryColor),
    0 5 px 35px var(--primaryColor), 0 5 px 25px var(--primaryColor),
    0 5 px 25px var(--primaryColor);
}

#clockContainer::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  left: -18px;
  top: -10px;
  border: 18px solid #cccccc;
  border-radius: 50%;
  z-index: -2;
}

#clockContainer::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #c7d8f8;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 9px);
  top: calc(50% - 9px);
  box-shadow: 0 2px 4px var(--secondaryColor);
}

#clockContainer li {
  list-style: none;
  position: absolute;
}

#clockContainer .numbers {
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 5%;
  text-align: center;
}

#clockContainer .numbers span {
  display: block;
  color: #dbe7fd;
  font-size: 38px;
  text-shadow: 0 5px 18px var(--secondaryColor), 0 2px 3px #00000033;
}

/*placing numbers in their positions*/

#clockContainer .numbers:nth-child(1) {
  transform: rotate(30deg);
}

#clockContainer .numbers:nth-child(1) span {
  transform: rotate(-30deg);
}

#clockContainer .numbers:nth-child(2) {
  transform: rotate(60deg);
}

#clockContainer .numbers:nth-child(2) span {
  transform: rotate(-60deg);
}

#clockContainer .numbers:nth-child(3) {
  transform: rotate(90deg);
}

#clockContainer .numbers:nth-child(3) span {
  transform: rotate(-90deg);
}

#clockContainer .numbers:nth-child(4) {
  transform: rotate(120deg);
}

#clockContainer .numbers:nth-child(4) span {
  transform: rotate(-120deg);
}

#clockContainer .numbers:nth-child(5) {
  transform: rotate(150deg);
}

#clockContainer .numbers:nth-child(5) span {
  transform: rotate(-150deg);
}

#clockContainer .numbers:nth-child(6) {
  transform: rotate(180deg);
}

#clockContainer .numbers:nth-child(6) span {
  transform: rotate(-180deg);
}

#clockContainer .numbers:nth-child(7) {
  transform: rotate(210deg);
}

#clockContainer .numbers:nth-child(7) span {
  transform: rotate(-210deg);
}

#clockContainer .numbers:nth-child(8) {
  transform: rotate(240deg);
}

#clockContainer .numbers:nth-child(8) span {
  transform: rotate(-240deg);
}

#clockContainer .numbers:nth-child(9) {
  transform: rotate(270deg);
}

#clockContainer .numbers:nth-child(9) span {
  transform: rotate(-270deg);
}

#clockContainer .numbers:nth-child(10) {
  transform: rotate(300deg);
}

#clockContainer .numbers:nth-child(10) span {
  transform: rotate(-300deg);
}

#clockContainer .numbers:nth-child(11) {
  transform: rotate(330deg);
}

#clockContainer .numbers:nth-child(11) span {
  transform: rotate(-330deg);
}

/*fixing the clock hands*/

#second {
  width: 100%;
  height: 100%;
  animation: clockWork 60s steps(60, end) infinite;
}

#second::after {
  content: "";
  width: 4px;
  height: 107px;
  border-radius: 2px;
  background: #fc0442;
  position: absolute;
  left: calc(50% - 2px);
  top: 55px;
  box-shadow: 1px 2px 3px var(--secondaryColor);
}

#minute {
  width: 100%;
  height: 100%;
  animation: clockWork 3600s steps(60, end) infinite;
}

#minute::after {
  content: "";
  width: 12px;
  height: 79px;
  border-radius: 4px 4px 2px 2px;
  background: #aeb6c4;
  position: absolute;
  left: calc(50% + 30px);
  top: 29%;
  transform: rotate(-120deg);
  box-shadow: -1px 0 5px var(--secondaryColor);
}

#hour {
  width: 100%;
  height: 100%;
  transform: rotate(120deg);
}

#hour::after {
  content: "";
  width: 12px;
  height: 58px;
  border-radius: 6px 6px 3px 3px;
  background: #07f3dfb4;
  position: absolute;
  left: calc(50% - 4px);
  top: 50%;
  box-shadow: 1px 0 4px var(--secondaryColor);
}

/*animation that runs the clock properly*/

@keyframes clockWork {
  to {
    transform: rotate(360deg);
  }
}
